div.main-title {
    text-align: left;
    float: left;
	font: bold 1.8em Arial, sans-serif;
	color: #fff;
	text-shadow: 3px 2px 3px #000;
	margin-left: 50px;
}

div.main-fio {
    text-align: left;
    float: right;
    margin-right: 5px;
}

#main-title {
	font: bold 1.4em Arial, sans-serif;
	border: 1px solid #38547B;
	color: #fff;
	text-shadow: black 3px 2px 3px;
	padding: 5px;
	/*	background-image: -webkit-gradient(linear, left center, right center, from(#758FAF), to(#DEE2E9));*/
	background-image: linear-gradient(to right, #758faf, #dee2e9);
	position: absolute;
}
#main-title > div {
	display: inline-block;
}
#main-title .fio {
	padding-top: -10px;
}
.app-name {
	font-size: 1.65em;
	width: 80%;
	padding-left: 1.8em;
}
.fio {
	width: 20%;
	position: absolute;
	top: 30%;
}