<!DOCTYPE html>
<html ng-app="Login">
	<head>
		<title>TODO supply a title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="js/angular.min.js"></script>
		<script src="js/login.js"></script>
		<link rel="stylesheet" type="text/css" href="css/login.css"/>
	</head>
	<body ng-controller="LoginController as ctrl">
		<label>Логин: <input type="text" ng-model="ctrl.username"/></label>
		<label>Пароль: <input type="password" ng-model="ctrl.password"/></label>
		<button ng-click="ctrl.login()">Войти</button>
	</body>
</html>
